$color-black: #000000;
$color-woodsmoke: #18191a;
$color-mirage: #1c2532;
$color-blue: #2d8cf0;
$color-purple: #ab7ef6;
$color-slate: #708090;
$color-ebony-clay: #232d3d;
$color-ebony-clay-2: #283243;
$color-oxford-blue: #323e4f;

$color-primary: $color-blue;
$color-secondary: $color-purple;

$color-info: #2db7f5 !default;
$color-success: #19be6b !default;
$color-warning: #ff9900 !default;
$color-error: #ed4014 !default;

$color-background: #f8f8f9 !default;
$color-content: #515a6e !default;
$color-border: #dcdee2 !default;
$color-divider: #e8eaec !default;
$color-disabled: #c5c8ce !default;